.div_nota{
  height: calc(100vh - 64px);
}

.div_nota form {
  height: 100%;
}

input.title_nota{
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
  outline: none;
}

textarea{
  resize: none;
  width: 100%;
  border: 0;
  outline: none;
  height: calc(100vh - 100px);
}