.lateral-izq{
  position: fixed;
  z-index: 999;
  left: -180px;
  top: 0;
  width: 180px;
  height: 100vh;
  background: #fff;
  transition: left 500ms;
  border-right: 1px solid #d2d2d2;
}
.lateral-izq.visible{
  left: 0;
  transition: all 500ms;
}

.lateral-izq buTton{
  outline: none;
  border: none;
  background: transparent;
  height: 30px;
  width: 30px;
  font-size: 24px;
  position: absolute;
  right: 0;
  color: #00A99D;
  cursor: pointer;
}

.lateral-izq form {
  width: 100%;
  position: absolute;
  margin-top: 30px;
}

.lateral-izq form input{
  display: block;
  width: 90%;
  margin: 10px auto;
  height: 24px;
  padding-left: 4px;
  background: #d2d2d2;
  border: none;
  outline: none;
  border-radius: 4px;
}

.lateral-izq input::-webkit-input-placeholder {
  text-align: center;
  color: #222;
}
.lateral-izq input:-moz-placeholder {
  text-align: center;
  color: #222;
}
.lateral-izq input:-ms-input-placeholder {
  text-align: center;
  color: #222;
}
.lateral-izq input[placeholder] {
  text-align: center;
  color: #222;
}

.lateral-izq input:focus{
  text-align: left;
}

.lateral-izq nav{
  position: relative;
  margin-top: 70px;
}

.lateral-izq li{
  display: flex;
  height: 50px;
  align-items: center;
  width: 95%;
  float: right;
  border-bottom: 1px solid #d2d2d2;
}

.title-date-note{
  overflow: hidden;
}

.title-date-note h2 {
  font-size: .9em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-date-note p{
  font-size: .7em;
}

.hidden{
  display: none;
}